{% extends 'base.html.twig' %}

{% block title %}Plot{% endblock %}

{% block body %}
    <div class="container">
    <h1>Plot</h1>
        <div class="d-flex flex-row mb-1">

            <a href="{{ path('land_plot_index') }}" class="btn btn-outline-info">Retour</a>

            <a href="{{ path('land_plot_edit', {'id': plot.id}) }}" class="btn btn-outline-warning">edit</a>

            {{ include('land/plot/_delete_form.html.twig') }}

        </div>

    <table class="table table-hover table-bordered table-sm">
        <tbody>
            <tr>
                <th>Lot</th>
                <td>{{ plot.lot }}</td>
            </tr>
            <tr>
                <th>Surface</th>
                <td>{{ plot.surface }}</td>
            </tr>
            <tr>
                <th>Largeur Facade</th>
                <td>{{ plot.facadeWidth }}</td>
            </tr>
            <tr>
                <th>Prix de vente</th>
                <td>{{ plot.sellingPriceAti | format_currency('EUR') }}</td>
            </tr>
            <tr>
                <th>Date de creation</th>
                <td>{{ plot.createdAt ? plot.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Mise a jour</th>
                <td>{{ plot.updatedAt ? plot.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        {% for house in houses %}
            <tr>
                <th>
                    Prix Avec Terrain
                </th>
                <td>
                    {{ (house.sellingPriceAti + plot.sellingPriceAti) | format_currency('EUR') }}
                </td>
            </tr>
        <tr>
            <th>
                Maison Compatible:  {{ house.name }}
            </th>
            <td>
                <a href="{{ path('house_show', { 'id': house.id }) }}" class="btn btn-outline-secondary"> {{ house.name }}</a>


            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
{% endblock %}
