{% extends 'base_all.html.twig' %}

{% block schema %}

{% endblock %}
{% block description %}
    <!-- Meta Description -->
    <meta name="description" content="Projet construction {{ ad.name }} - {{ ad.plot.allotment.name }} - {{ ad.sellingPriceAti}} ">
{% endblock %}

{% block title %}
{{ ad.name }} - {{ ad.plot.allotment.name }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex flex-column justify-content-center align-items-center">
            <h1 class="display-6">{{ ad.name }}</h1>
            <h3>À Partir de {{ ad.sellingPriceAti |number_format(0, '', ' ')  }} €</h3>

            <!-- BREADCRUMPS  START-->
            {% import 'macros/breadcrumps.html.twig' as breadcrumbs %}

            {{ breadcrumbs.render([
                {'url': url('home'), 'text': 'TerrainsMaisons.com'},
                {'url': path('all_allotment_show', {'id': ad.plot.allotment.id}), 'text': ad.plot.allotment.name },
                {'url': path('all_plot_show', {'id': ad.plot.id}), 'text': 'Maisons'},
                {'text': 'Projet'},
            ]) }}
            <!-- BREADCRUMPS  END -->

        </div>
    </div>
    <div class="row justify-content-center">
        <div class=" col-12 col-xl-8 d-flex justify-content-center align-content-center">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner" >
                    {% if ad.house.pictures[0] is defined %}
                        {% for picture in ad.house.pictures %}
                            <div class="carousel-item {% if loop.first %} active {% endif %} %}" >
                                <img class="d-block img-fluid " src="{{ asset('uploads/pictures/'~picture.name) | imagine_filter('big')}}" alt={{ ad.house.name }}>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="carousel-item active">

                            <img class="d-block w-100" src="{{ asset('images/house_base.jpeg') }}" alt="Projet MaisonsTerrains.com">
                        </div>
                    {% endif %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>
            </div>
        </div>

        <div class=" col-12 col-xl-8">
            <div class="row justify-content-center mt-3 mb-3">
            <h2>Caractéristiques du projet de construction</h2>
            </div>
            <div class="table-responsive">
                <table class="table table-striped p-0 m-0">
                    <tbody>
                    <tr>
                        <th>Maison</th>
                        <td><a href="{{ path('all_house_show_by_slug', {'slug': ad.house.slug}) }}" style="text-decoration: none">{{ ad.house.name }}</a></td>
                    </tr>
                    <tr>
                        <th>Lot</th>
                        <td>{{ ad.plot.lot }}</td>
                    </tr>
                    <tr>
                        <th>Surface Terrain</th>
                        <td>{{ ad.plot.surface }} m2</td>
                    </tr>
                    <tr>
                        <th>Largeur Facade</th>
                        <td>{{ ad.plot.facadeWidth }} m</td>
                    </tr>
                    <tr>
                        <th>Surface Habitable</th>
                        <td>{{ ad.house.livingSpace }} m2</td>
                    </tr>
                    <tr>
                        <th>Surface Annexe</th>
                        <td>{{ ad.house.annexSurface }} m2</td>
                    </tr>
                    <tr>
                        <th>Garage</th>
                        <td>{% if ad.house.annexSurface > 0 %}
                                Oui
                            {% else %}
                                Non
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Chambres</th>
                        <td>{{ ad.house.roomNumber }}</td>
                    </tr>
                    <tr>
                        <th>Salle de Bains</th>
                        <td>{{ ad.house.bathroomNumber }}</td>
                    </tr>
                    <tr>
                        <th>Type de Maison</th>
                        <td>{{ ad.house.houseModel }}</td>
                    </tr>
                    <tr>
                        <th>Style</th>
                        <td>{{ ad.house.houseStyle }}</td>
                    </tr>
                    <tr>
                        <th>Type de Toiture</th>
                        <td>{{ ad.house.houseRoofing }}</td>
                    </tr>
                    <tr>
                        <th>Estimation Frais d'Acquisition</th>
                        {% set totalNotaryFee =  ( (ad.plot.allotment.notaryFees/100)  * ad.plot.sellingPriceAti)  %}
                        <td>{{ totalNotaryFee | number_format(0,'',' ')}} €</td>
                    </tr>

                    <tr>
                        <th> Estimation Raccordements Assainissement* </th>
                        {% if ad.plot.allotment.sanitation == 'Collectif' %}
                        {% set sanitationPrice = 2591 %}
                        {% else %}
                        {% set sanitationPrice = 12500 %}
                        {% endif %}
                        <td> {{ sanitationPrice | number_format(0,'',' ') }} €</td>
                    </tr>

                    <tr>
                        <th>Coût Global du Projet TTC*</th>
                        <th> {{ (ad.sellingPriceAti + totalNotaryFee + sanitationPrice) | number_format(0,'',' ') }} €</th>
                    </tr>
                    <tr>
                        <th><a href="{{ ad.house.houseBrand.url }}" target="_blank">Construteur</a></th>
                        <td><a href="{{ ad.house.houseBrand.url }}" target="_blank">
                                <img src="{{ asset('uploads/pictures/'~ ad.house.houseBrand.logo) }}" alt="Logo {{ ad.house.houseBrand.name }}" width="170">
                            </a></td>
                    </tr>

                    </tbody>


                </table>
            </div>
        </div>

    </div>

    <div class="row flex-column justify-content-center align-items-center bg-light m-1">
        <h2 class="d-flex pt-5 col-12 col-lg-6 justify-content-center">En savoir plus</h2>

        <div class="col-12 col-lg-6">
            <!-- FORMULAIRE DE CONTACT HUBSPOT -->
            <!--[if lte IE 8]>
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
            <![endif]-->
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
                hbspt.forms.create({
                    portalId: "5313721",
                    formId: "78d6aeb1-7a7a-47d2-8040-e05e29a68498"
                });
            </script>
        </div>
    </div>




{% endblock %}