{% extends 'base_all.html.twig' %}


{% block title %}
    Terrains à bâtir {{ allotment.city }}  - {{ allotment.name }}
{% endblock %}

{% block description %}
    <!-- Meta  -->
    <meta name="title" content="Terrains à bâtir {{ allotment.city }}  - {{ allotment.name }}">
    <meta name="description"
          content="Le lotissement {{ allotment.name }} à {{ allotment.city }} vous propose plusieurs terrains à batir.
                Choisissez votre futur projet de construction grâce à notre sélection de maisons individuelles." >
    <!-- OG  -->
    <meta property="og:title" content="Terrains à bâtir {{ allotment.city }}  - {{ allotment.name }}">
    <meta property="og:description" content="Le lotissement {{ allotment.name }} à {{ allotment.city }} vous propose plusieurs terrains à batir.
                Choisissez votre futur projet de construction grâce à notre sélection de maisons individuelles.">
    <meta property="og:image" content="{{ asset('images/logo_terrains_maisons_v2.png' | imagine_filter('my_thumb')) }}">
    <meta property="og:image:url" content="{{ asset('images/logo_terrains_maisons_v2.png' | imagine_filter('my_thumb')) }}">

{% endblock %}


{% block body %}




    <div class="row justify-content-center mt-4">
        <div class="col-12 col-xl-6 d-flex align-items-stretch">
            <div class="p-xl-5">
                <div class="container">
                    <h1 class="display-5 text-center">Terrains à bâtir {{ allotment.city }} </h1>
                    <h2 class="display-6 text-center"> Lotissement {{ allotment.name }} </h2>
                    <h5 class="text-center"> <span class="badge bg-success ">{{ allotment.state }}</span></h5>

                    <hr class="my-4">

                    <p class="lead">Pour votre future Maison : Découvrez le lieu</p>
                    <p> Code postal : {{ allotment.postalCode }}</p>
                    <p>{{ allotment.description }}</p>

                    <p>
                    {% for tag in allotment.tags %}
                        <span class="badge rounded-pill bg-info">{{ tag.name }}</span>
                    {% endfor %}
                    </p>
                    <hr class="my-4">

                    <p><strong>Choisissez </strong> un terrain, <strong>cliquez </strong> et <strong>découvrez</strong> toutes les <strong> Maisons compatibles</strong> pour un futur projet de construction !</p>

                </div>
            </div>
        </div>

        <!--   Tab Menu -->
        <div class="col-12 col-xl-6">
            <nav>
                <div class="nav nav-tabs">


                    <a href="#plan" class="nav-link active text-uppercase font-weight-bold" id="plan-tab"
                       data-bs-toggle="tab" role="tab">Plans</a>


                    <a href="#doc" class="nav-link text-uppercase font-weight-bold" id="doc-tab" data-bs-toggle="tab"
                       role="tab">Infos</a>
                </div>
            </nav>

            <div class="tab-content" id="nav-tabContent">

                <div class="tab-pane fade px-4 py-5 show active" id="plan" role="tabpanel" aria-labelledby="plan-tab">

                    {% if allotment.allotmentPlanFile %}
                        <button type="button" class="btn btn-outline-light" data-bs-toggle="modal"
                                data-bs-target="#imgModal">
                            <img id="myImg"
                                 src="{{ asset('uploads/pictures/'~ allotment.allotmentPlanFile ) }}"
                                 class="img-fluid"
                                 alt="{{ allotment.name }}"
                                 style="max-height: 50vh"
                            >

                        </button>
                    {% else %}

                        <img id="myImg" src="/images/LandCouvWeb.jpg" class="img-fluid"
                             alt="Projet Terrains Maisons . com ">

                    {% endif %}
                </div>


                <div class="tab-pane fade px-4 py-5" id="doc" role="tabpanel" aria-labelledby="doc-tab">

                    <table class="table table-bordered">
                        <tbody>

                        <tr>
                            <th>Assainissement</th>
                            <td>{{ allotment.sanitation }}</td>
                        </tr>
                        <tr>
                            <th> Etat</th>
                            <td>{{ allotment.state }}</td>
                        </tr>

                        <tr>
                            {% if allotment.localUrbanPlanFile %}
                            <th> PLU</th>
                            <td> <a
                                        href="{{ asset('uploads/plans/'~allotment.localUrbanPlanFile) }}"
                                        target="_blank">Télécharger</a></td>
                        </tr>
                        {% endif %}
                        {% if allotment.regulationFile %}
                        <tr>
                            <th> Réglement du Lotissement</th>
                            <td><a
                                    href="{{ asset('uploads/plans/'~allotment.regulationFile) }}"  target="_blank">
                                        Télécharger</a></td>
                        </tr>
                        {% endif %}
                        </tbody>
                    </table>

                </div>

            </div>
        </div>

    </div>

    <!-- Modal Image -->
    {% if allotment.allotmentPlanFile %}
    <div class="modal fade" id="imgModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog mw-100">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Plan Lotissement</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img id="myImg"
                         src="{{ asset('uploads/pictures/'~ allotment.allotmentPlanFile ) }}"
                         class="img-fluid"
                         alt="{{ allotment.name }}">
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>

                </div>
            </div>
        </div>
    </div>
{% endif %}

    <div class="d-flex flex-column  mt-2 justify-content-center align-items-center">
        <div class="col">
        <h2 class="text-center">Terrains disponibles </h2>
        </div>
        <div class="col">
            <!-- BREADCRUMPS  START-->
            {% import 'macros/breadcrumps.html.twig' as breadcrumbs %}
        {{ breadcrumbs.render([
            {'url': url('home'), 'text': 'TerrainsMaisons.com'},
            {'text': "#{allotment.city} #{allotment.name}" },
        ]) }}

            <!-- BREADCRUMPS  END-->
        </div>
    </div>

    <div class="row justify-content-center p-2">

        {% for plot in plots %}
            {% if plot.state.name == 'Libre' or plot.state.name == 'Réservé' %}
                <div class="d-flex align-items-stretch col-12 col-md-6 col-lg-4 mt-1">
                    <div class="card w-100" id="allotmentCardList">
                        <div class="card-header"> Lot n° {{ plot.lot }}</div>
                        <div class="card-body">

                            <h5 class="card-title">Prix Terrain : {{ plot.sellingPriceAti | number_format(0, '', ' ') }}
                                €</h5>

                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Surface : {{ plot.surface }} m2</li>
                            {% if plot.state.name == 'Libre' %}
                                <li class="list-group-item"><span
                                            class="badge badge-pill bg-success">{{ plot.state.name }}</span></li>
                            {% else %}
                                <li class="list-group-item"><span
                                            class="badge badge-pill bg-warning">{{ plot.state.name }}</span></li>
                            {% endif %}

                            <li class="list-group-item"> Découvrez tous les projets pour ce terrain</li>

                        </ul>
                        <div class="card-body">
<<<<<<< HEAD
                            <a href="{{ path('all_plot_show', {'slug':allotment.slug,'id': plot.id}) }}" class="btn btn-secondary">Voir les Projets de Maisons</a>
=======
                            <a href="{{ path('all_plot_show', {'slug':allotment.slug,'id': plot.id}) }}" class="btn btn-info">Maisons
                                Compatibles pour le projet</a>
>>>>>>> origin/v2.2
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>


{% endblock %}



