{% extends 'base_all.html.twig' %}

{% block title %}
Liste des Terrains pour le lotissement
{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="">{{allotment.name}}</h1>
        <p class="lead">Pour votre futur Maison: Découvrez le programme</p>
        <hr class="my-4">
        <p>Retrouvez toutes les informations sur le lotissement et parcourez les terrains disponibles.</p>
        <p>Lorsque vous choisissez un terrain, cliquez dessus pour découvrir les Maisons compatibles et réalisez votre projet.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#thead" role="button">En savoir plus</a>
        </p>
    </div>
    {% if allotment.allotmentPlanFile %}
    <div class="row">
        <div class="col">
            <img src="{{ asset('uploads/pictures/'~ allotment.allotmentPlanFile ) }}" class="img-fluid" alt="{{ allotment.name }}">
        </div>
    </div>
    {% endif %}

    <h4>Liste des terrains disponibles </h4>
{#<table class="table">
    <thead id="thead" class="thead-dark">
    <tr>
        <th scope="col">N° Lot</th>
        <th scope="col">Surface (m2)</th>
        <th scope="col">Prix du terrain</th>
        <th scope="col">Etat</th>
        <th class="" scope="col">Maisons Compatibles</th>
    </tr>
    </thead>
    <tbody>
    {% for plot in allotment.plots %}
        {% if plot.state.name == 'Libre' or plot.state.name == 'Réservé' %}
    <tr>
      <th scope="row">{{ plot.lot }}</th>
        <td>{{ plot.surface }}</td>
        <td>{{ plot.sellingPriceAti | number_format(0, '', ' ')}} €</td>
        <td>
            {% if plot.state %}
            {{ plot.state.name }}
            {% endif %}

        </td>

        <td><a href="{{ path('all_plot_show', {'id': plot.id}) }}" >Voir les Maisons Compatibles</a></td>
    </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>#}


 <div class="row">

        {% for plot in plots %}
            {% if plot.state.name == 'Libre' or plot.state.name == 'Réservé' %}
            <div class="d-flex align-items-stretch col-12 col-md-6 col-lg-4 mt-1">
                <div class="card w-100" id="allotmentCardList">
                    <div class="card-header"> Lot n° {{ plot.lot }}</div>
                    <div class="card-body">

                        <h5 class="card-title">Prix Terrain: {{ plot.sellingPriceAti | number_format(0, '', ' ')}} €</h5>

                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Surface: {{ plot.surface }} m2 </li>
                        <li class="list-group-item"> Etat: {{ plot.state.name }} </li>

                    </ul>
                    <div class="card-body">
                        <a href="{{ path('all_plot_show', {'id': plot.id}) }}" class="btn btn-outline-primary">Maisons Compatibles</a>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>





{% endblock %}



