{% extends 'base_all.html.twig' %}

{% block title %}
Liste des Terrains pour le lottissement
{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4">{{allotment.name}}</h1>
        <p class="lead">Pour votre futur Maison: Découvrez le programme</p>
        <hr class="my-4">
        <p>Retrouvez toutes les informations sur le lotissement et parcourez les terrains disponibles.</p>
        <p>Lorsque vous choisissez un terrain, cliquez dessus pour découvrir les Maisons compatibles et réalisez votre projet.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#thead" role="button">En savoir plus</a>
        </p>
    </div>


    <h4>Liste des terrains disponibles </h4>
<table class="table">
    <thead id="thead" class="thead-dark">
    <tr>
        <th scope="col">N° Lot</th>
        <th scope="col">Surface (m2)</th>
        <th scope="col">Prix du terrain</th>
        <th scope="col">Etat</th>
        <th scope="col">Maisons Compatibles</th>
    </tr>
    </thead>
    <tbody>
    {% for plot in allotment.plots %}
        {% if plot.state.name == 'Libre' or plot.state.name == 'Réservé' %}
    <tr>
      <th scope="row">{{ plot.lot }}</th>
        <td>{{ plot.surface }}</td>
        <td>{{ plot.sellingPriceAti | number_format(0, '', ' ')}} €</td>
        <td>
            {% if plot.state %}
            {{ plot.state.name }}
            {% endif %}

        </td>

        <td><a href="{{ path('all_plot_show', {'id': plot.id}) }}" class="btn btn-outline-info">Voir les Maisons Compatibles</a></td>
    </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>





{% endblock %}



