{% extends 'base_all.html.twig' %}

{% block description %}
    <!-- Meta Description -->
    <meta name="description" content="Terrains dipsonibles pour le lotissement {{ allotment.name }} situé à {{ allotment.city }} - Parcourez la liste des Maisons disponibles pour ce programme">
{% endblock %}

{% block title %}
  Terrain {{ allotment.name}}  - {{ allotment.city }}
{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="">{{ allotment.name }}</h1>
        <p class="lead">Pour votre future Maison : Découvrez le programme</p>
        <hr class="my-4">
        <p>Retrouvez toutes les informations sur le lotissement et parcourrez les terrains disponibles.</p>
        <p>Lorsque vous choisissez un terrain, cliquez dessus pour découvrir les Maisons compatibles et réalisez votre
            projet.</p>
{#        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#thead" role="button">En savoir plus</a>
        </p>#}
    </div>
    {% if allotment.allotmentPlanFile %}
        <div class="row">
            <div class="col">
                <img src="{{ asset('uploads/pictures/'~ allotment.allotmentPlanFile ) }}" class="img-fluid"
                     alt="{{ allotment.name }}">
            </div>
        </div>
    {% endif %}
<div class="row justify-content-center">
    <h2>Terrains disponibles </h2>
</div>

    <div class="row justify-content-center">

        {% for plot in plots %}
            {% if plot.state.name == 'Libre' or plot.state.name == 'Réservé' %}
                <div class="d-flex align-items-stretch col-12 col-md-6 col-lg-4 mt-1">
                    <div class="card w-100" id="allotmentCardList">
                        <div class="card-header"> Lot n° {{ plot.lot }}</div>
                        <div class="card-body">

                            <h5 class="card-title">Prix Terrain : {{ plot.sellingPriceAti | number_format(0, '', ' ') }}
                                €</h5>

                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Surface : {{ plot.surface }} m2</li>
                            {% if plot.state.name == 'Libre' %}
                                <li class="list-group-item"><span class="badge badge-pill badge-success">{{ plot.state.name }}</span>  </li>
                            {% else %}
                                <li class="list-group-item"><span class="badge badge-pill badge-warning">{{ plot.state.name }}</span>  </li>
                            {% endif %}

                        </ul>
                        <div class="card-body">
                            <a href="{{ path('all_plot_show', {'id': plot.id}) }}" class="btn btn-outline-primary">Maisons
                                Compatibles</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>





{% endblock %}



