{% extends 'base_all.html.twig' %}

{% block description %}
    <!-- Meta Description -->
    <meta name="description"
          content="Catalogue de Maisons Individuelles par les constructeurs de Maisons dans la Marne et les Ardennes">
{% endblock %}

{% block title %}Catalogue de Maisons des Constructeurs pour Terrains Maisons . com{% endblock %}

{% block body %}




    <div class="row" style="margin-top: 35px; margin-bottom: 35px">
        <div class="col-12 d-flex justify-content-center my-5-top">
            <h1 class="display-5 text-center"> TROUVEZ VOTRE MAISON VOTRE CONSTRUCTEUR ET VOTRE TERRAIN EN CHAMPAGNE-ARDENNE</h1>
        </div>
        <div class="col d-flex justify-content-center">
            <!-- BREADCRUMPS  START-->
            {% import 'macros/breadcrumps.html.twig' as breadcrumbs %}
            {{ breadcrumbs.render([
                {'url': url('home'), 'text': 'TerrainsMaisons.com'},
                {'text': 'Maisons' },
            ]) }}

            <!-- BREADCRUMPS  END-->
        </div>
    </div>


    <div class="row flex-column align-items-center justify-content-center mb-4">
        <div class="col-12 col-lg-6 p-2 d-flex justify-content-center">
            <h4>Recherche par Maison</h4>

        </div>
        <div class=" col-12 col-lg-6 p-2">
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>
            {{ form_start(form) }}
            {{ form_widget(form.roomNumber) }}
        </div>
        <div class="col-12 col-lg-6 p-2">
            {{ form_widget(form.houseModel) }}

        </div>
        <div class="col-12 col-lg-6 p-2">
            {{ form_widget(form.houseBrand) }}

        </div>
        <div class="col-12 col-lg-6 p-2 ">

            {{ form_label(form.matchSellingPriceAti) }}
            {{ form_widget(form.matchSellingPriceAti) }}
            {{ form_row(form._token) }}
        </div>
        <div class="col-12 col-lg-6 p-2 d-grid ">
            <button class="btn btn-block btn-success">{{ button_label|default('Valider') }}</button>


            {{ form_end(form, {'render_rest': false}) }}
        </div>

    </div>

    <div class="row justify-content-center pb-2" id="house-list">
        {% if houses %}
        {% for house in houses %}
            <div class="d-flex align-items-stretch col-12 col-lg-6 col-xl-4">
                <div class="card m-lg-3">


                    {% if house.pictures[0] is defined %}
                        <a href="{{ path('all_house_show_by_slug', {'slug': house.slug}) }}"> <img class="card-img-top"
                                                                                                   src="{{ asset('uploads/pictures/'~house.pictures[0].name) | imagine_filter('heighten_filter') }}"
                                                                                                   alt="{{ house.name }}"></a>
                    {% else %}
                        <a href="{{ path('all_house_show_by_slug', {'slug': house.slug}) }}">
                            <img class="card-img-top"
                                 src="{{ asset('images/house_base.jpeg' | imagine_filter('heighten_filter')) }}"
                                 alt="{{ house.name }}">
                        </a>
                    {% endif %}

                    <div class="card-body">
                        <h4 class="card-title">À Partir de :
                            {{ house.sellingPriceAti | number_format(0, '', ' ') }}
                            € </h4>
                        <h5 class="card-subtitle text-muted">Maison {{ house.name }}</h5>


                        <ul class="list-group list-group-flush">

                            <li class="list-group-item">
                                Surface Habitable : {{ house.livingSpace }} m2
                            </li>
                            <li class="list-group-item">
                                Surface Annexe : {{ house.annexSurface }} m2
                            </li>
                            <li class="list-group-item">
                                {{ house.roomNumber }} Chambres
                            </li>
                            <li class="list-group-item">
                                {{ house.houseModel }}
                            </li>
                            {% if house.annexSurface > 0 %}
                                <li class="list-group-item">
                                    Garage : Oui
                                </li>
                            {% else %}
                                <li class="list-group-item">
                                    Garage : Non
                                </li>
                            {% endif %}

                            <li class="list-group-item ">
                                <img src="{{ asset('uploads/pictures/'~ house.houseBrand.logo) }}" alt="" width="250"
                                     class="img-fluid">
                            </li>

                        </ul>


                    </div>
                    <div class="card-body d-flex align-items-end">
                        <a href="{{ path('all_house_show_by_slug', {'slug': house.slug}) }}"
                           class="btn btn-secondary  ">Où Construire cette Maison </a>
                    </div>

                </div>
            </div>
        {% endfor %}
        {% else %}
            <div class="row align-content-center" style="margin-top: 3em; margin-bottom: 3em">
                <h6 class="text-center display-6"> AUCUN RESULTAT POUR VOTRE RECHERCHE</h6>
            </div>
        {% endif %}
    </div>

{% endblock %}


