{% extends 'base_all.html.twig' %}

{% block title %}Terrains Maisons!{% endblock %}

{% block body %}
    <script src="{{ asset('js/filterTable01.js') }}"></script>

    <div class="jumbotron">
        <h1 class="display-4">TERRAINS MAISONS . COM</h1>
        <p class="lead">Un seul endroit pour votre terrain et votre maison</p>
        <hr class="my-4">
        <p>Retrouvez toutes les informations sur les terrains et les maisons</p>

        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus</a>
        </p>
    </div>
    <div class="row">
    <div class="col-sm-4"></div>
<div class="col-sm-4">
<form>
    <div class="form-group">


            <label for="iIdP">Ma Recherche par Ville</label>
            <input type="text" class="form-control" placeholder="Recherche une ville ... " id="iIdP" onkeyup="searchTable('iIdP', 'allotments-list')">

    </div>
</form>
    </div>
        <div class="col-sm-4"></div>
    </div>
    <table class="table" id="allotments-list">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Nom du programme</th>
            <th scope="col">Ville</th>
            <th scope="col">Code Postal</th>
            <th scope="col">Nombre de Terrains</th>
            <th>A partir de </th>

        </tr>
        </thead>
        <tbody>
            {% for allotment in allotments %}
            <tr>
                <th scope="row"><a href="{{ path('all_allotment_show', {'id': allotment.id}) }}">{{ allotment.name }}</a></th>
                <td>{{ allotment.city }}</td>
                <td>{{ allotment.postalCode }}</td>
                <td> <span class="badge badge-success">{{ allotment.plots| length }}</span></td>

                <td> {{ allotment.getMinPriceAtiPlot }}</td>


            </tr>
            {% endfor %}
        </tbody>
    </table>




    <script>
        $(document).ready(function() {
            $('.js-example-basic-multiple').select2();
        });
    </script>



{% endblock %}
