{% extends 'base_all.html.twig' %}

{% block title %}Terrains Maisons!{% endblock %}

{% block body %}



    <h1>TERRAINS MAISONS . COM</h1>




<h4>Les Lotissements </h4>
    <div class="card-deck">
        {% for allotment in allotments %}
        <div class="card">
            <img class="card-img-top" src="{{ asset('images/land-illustration.jpg') }}" alt="Land Image">
            <div class="card-body">
                <h5 class="card-title">{{ allotment.name }} - {{ allotment.city }}</h5>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-muted">Mise à jour {{ allotment.updatedAt | format_datetime() }}</small></p>
                <a href="{{ path('all_allotment_show', {'id': allotment.id})  }}" class="btn btn-outline-info">Voir</a>
            </div>
        </div>
        {% endfor %}

    </div>




    <style>
        .card-deck{
            column-count: 3;
        }
    </style>


{% endblock %}
