{% extends 'base_all.html.twig' %}

{% block title %}Terrains Maisons .com{% endblock %}

{% block body %}
    <script src="{{ asset('js/filterTable01.js') }}"></script>

    <div class="row d-flex align-items-center justify-content-center">
<div class="col-12 col-lg-8 order-1 order-lg-0">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
        <h1 class="">TERRAINS MAISONS . COM</h1>
        <p class="lead">Un seul endroit pour trouver votre terrain et votre maison neuve !</p>
        <hr class="my-4">
        <p>Retrouvez toutes les informations sur les terrains et les maisons</p>
            <p>Outil acctuellement en BETA en Champagne-Ardenne</p>

        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#search-form" role="button">Rechercher un Lotissement</a>
        </p>
        </div>
    </div>
</div>
    <div class="col-12 col-lg-4 d-flex justify-content-center order-0 order-lg-1">
        <img src="{{ asset('images/logo_terrains_maisons.png') }}" alt="">
    </div>

</div>

    <div class="row justify-content-center mb-3" id="search-form">
        <div class="col-12 col-lg-6">
            {% if form is defined %}
            {{ form_start(form) }}

            {{ form_widget(form) }}
            <button class="btn btn-block btn-outline-success">{{ button_label|default('Valider') }}</button>
            {{ form_end(form) }}
            {% endif %}
        </div>
        <div class="d-flex col-12 col-lg-8 justify-content-center mt-3">
            <h2 class="">Lotissements Diponibles Marne / Ardenne </h2>
        </div>
    </div>


<div class="row" id="allotment-list">
    {% for allotment in allotments %}
<div class="d-flex align-items-stretch col-12 col-md-6 col-lg-4 mt-1">
        <div class="card w-100" id="allotmentCardList">
            <div class="card-header">
                <div class="d-flex justify-content-center">
               <h4> {{ allotment.name }}</h4>
                </div>
            </div>
            <div class="card-body">

                <h5 class="card-title">Ville: {{ allotment.city }}</h5>

            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Code Postal :{{ allotment.postalCode }} </li>
                <li class="list-group-item"><span class="badge badge-success">{{ allotment.plots| length }}</span> Terrains</li>
                <li class="list-group-item">à Partir de {{ allotment.getMinPriceAtiPlot }}</li>
            </ul>
            <div class="card-body">
                <a href="{{ path('all_allotment_show', {'id': allotment.id}) }}" class="btn btn-outline-primary">Voir Les Terrains</a>
            </div>
        </div>
</div>
    {% endfor %}
</div>

    <script>
        $(document).ready(function() {
            $('.select-city').select2({
                placeholder: "Quelle Ville ?",
                allowClear: true
            });
        });
    </script>



{% endblock %}
