{% extends 'base_all.html.twig' %}

{% block title %}Terrains Maisons!{% endblock %}

{% block body %}
    <script src="{{ asset('js/filterTable01.js') }}"></script>

    <div class="row d-flex align-items-center justify-content-center">
<div class="col-12 col-lg-8 order-1 order-lg-0">
    <div class="jumbotron ">
        <h1 class="display-4">TERRAINS MAISONS . COM</h1>
        <p class="lead">Un seul endroit pour trouver votre terrain et votre maison neuve !</p>
        <hr class="my-4">
        <p>Retrouvez toutes les informations sur les terrains et les maisons</p>

        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#form-search" role="button">Rechercher un Lotissement</a>
        </p>
    </div>
</div>
    <div class="col-12 col-lg-4 d-flex justify-content-center order-0 order-lg-1">
        <img src="{{ asset('images/logo_terrains_maisons.png') }}" alt="">
    </div>

</div>
    
    <div class="row d-flex justify-content-center">

<div class="col-6">
<form>
    <div class="form-group" id="form-search">

            <label for="iIdP">Ma Recherche par Ville</label>
            <input type="text" class="form-control" placeholder="Recherche une ville ... " id="iIdP" onkeyup="searchTable('iIdP', 'allotments-list')">

    </div>
</form>

    </div>

    </div>
    <table class="table col-sm-12" id="allotments-list">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Nom du programme</th>
            <th scope="col">Ville</th>
            <th scope="col">Code Postal</th>
            <th scope="col">Nombre de Terrains</th>
            <th>Terrain à partir de </th>

        </tr>
        </thead>
        <tbody>
            {% for allotment in allotments %}
            <tr>
                <th scope="row"><a href="{{ path('all_allotment_show', {'id': allotment.id}) }}">{{ allotment.name }}</a></th>
                <td>{{ allotment.city }}</td>
                <td>{{ allotment.postalCode }}</td>
                <td> <span class="badge badge-success">{{ allotment.plots| length }}</span></td>

                <td> {{ allotment.getMinPriceAtiPlot }}</td>


            </tr>
            {% endfor %}
        </tbody>
    </table>




    <script>
        $(document).ready(function() {
            $('.js-example-basic-multiple').select2();
        });
    </script>



{% endblock %}
