{% extends 'base_all.html.twig' %}

    {% block description %}
        <!-- Meta Description -->
        <meta name="description" content="La plateforme pour Construire votre maison en Champagne-Ardenne.
                Sélectionnez un Lotissement , un Terrain à bâtir et parcourez les maisons proposées par nos constructeurs.">
    {% endblock %}

{% block title %}Terrains Maisons .com{% endblock %}

{% block body %}

    <link rel="stylesheet" href="css/home-index.css">

    <div class="row justify-content-center align-items-center " style="margin-top: 30px">

        <div class="col-12 d-flex justify-content-center ">
            <img src="/images/logo_terrains_maisons_v2.png" alt="Logo Terrains Maisons . com">
        </div>
    </div>

    <div class="row" style="margin-top: 25px">
        <div class="col-12 d-flex justify-content-center my-5-top">
            <h1 class="display-5 text-center">CONSTRUIRE VOTRE MAISON EN CHAMPAGNE-ARDENNE</h1>
        </div>
    </div>

    <div class="row ">

        <div class="col-12 d-flex justify-content-center" style="margin-top: 25px">
            <p class="text-center" style="font-weight: bold; font-size: large">
                Grâce à notre outil de rapprochement Constructeurs - Lotisseurs, aujourd'hui,
                nous proposons
                <span class="badge bg-success">{{ countMatchs }} </span>
                combinaisons de projets de construction.</p>
        </div>
    </div>


    <div class="row justify-content-center" style="margin-top: 25px">
        <div class="col-12 col-lg-3 d-flex justify-content-center py-1 py-lg-0 ">
            <a class="btn btn-lg btn-success w-100 " href="#search-form" role="button">Recherche par
                Terrain</a>
        </div>
        <div class="col-12 col-lg-3 d-flex justify-content-center d-grid">
            <a class="btn btn-lg btn-success w-100" href="{{ path('all_houses_list') }}" role="button">Recherche
                par Maison</a>
        </div>
    </div>

<div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <img class="img-fluid" src="{{ asset('images/cover_home.jpg' | imagine_filter('big')) }}" alt="Recherche Terrains Maisons . com">
        </div>
</div>

    <hr class="my-4">

    <div class="flex-row justify-content-center align-items-center">
        <div class="col d-flex justify-content-center" id="search-allotment">
            <h4> Recherche par Terrain</h4>
        </div>
    </div>

    <div class=" pb-3 pt-3 row justify-content-center align-items-center" id="search-form">

        <div class="col-12 col-lg-4 d-grid m-2">

            {% if form is defined %}
            {{ form_start(form) }}
            {{ form_widget(form.city) }}
        </div>
        <div class="col-12 col-lg-4 d-grid">
            <button class="btn btn-success">{{ button_label|default('Valider') }}</button>
            {{ form_end(form) }}
            {% endif %}
        </div>
    </div>



    <div class="row justify-content-center">
        <div class="col-12 col-lg-8 mt-3 d-flex justify-content-center">
            <h2 class="">Lotissements Disponibles en Champagne-Ardenne </h2>
        </div>
    </div>

    <div class="row justify-content-center pt-2 pb-2 " id="allotment-list">
        {% for allotment in allotments %}
            <div class="d-flex align-items-stretch col-12 col-md-6 col-lg-4 mt-1">
                <div class="card w-100 m-1" id="allotmentCardList">
                    <div class="card-header">
                        <div class="d-flex justify-content-center">
                            <h4> {{ allotment.city }} - {{ allotment.name }}</h4>
                        </div>
                    </div>
                    <div class="card-body">

                        <h5 class="card-title">Ville : {{ allotment.city }}</h5>

                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Code Postal : {{ allotment.postalCode }} </li>
                        <li class="list-group-item align-items-center"><span
                                    class="badge bg-success">{{ allotment.getPlotFree }}</span> Terrains
                        </li>
                        {% if allotment.state %}
                        <li class="list-group-item"><span
                                    class="badge bg-success" style="color: whitesmoke; font-size: medium">{{ allotment.state }}</span> </li>
                        {% endif %}
                        <li class="list-group-item">À partir de {{ allotment.getMinPriceAtiPlot }}</li>
                    </ul>
                    <div class="card-body">
                        <a href="{{ path('home_allotment_slug', {'slug': allotment.slug}) }}" class="btn btn-secondary">Voir
                            Les Terrains</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <script>
        $(document).ready(function () {
            $('.select-city').select2({
                placeholder: "Quelle Ville ?",
                allowClear: true
            });
        });
    </script>




{% endblock %}
