{% extends 'base_all.html.twig' %}

{% block title %}
    Liste des Maisons pour le Terrain
{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4">Lot n°: {{ plot.lot }} - Surface : {{ plot.surface }} Prix
            : {{ plot.sellingPriceAti | format_currency('EUR') }}</h1>
        <h2>{{ plot.allotment.name }}</h2>
        <p class="lead">Découvrez les Maisons Neuves pour de Programme</p>
        <hr class="my-4">
        <p>Vous trouverez ici toutes les maisons compatibles. Sous réserves de validation par nos partenaires
            foncier. </p>
        <p>Outil et Algorithmes en BETA merci de nous signaler les incohérences</p>

    </div>
    <div class="row">
        {% for house in houses %}
            <div class="d-flex align-items-stretch col-12 col-md-6 col-lg-4">
                <div class="card">


                    {% if house.pictures[0] is defined %}
                        <a href="{{ path('all_house_show', {'id': house.id}) }}"> <img class="card-img-top" src="{{ asset('uploads/pictures/'~house.pictures[0].name) }}"
                             alt="{{ house.name }}"></a>
                    {% else %}
                        <img class="card-img-top" src="{{ asset('images/house_base.jpeg') }}" alt="{{ house.name }}">
                    {% endif %}

                    <div class="card-body">
                        <h5 class="card-title">{{ house.name }}</h5>
                        <ul class="card-text">
                            <li>
                                Surface Habitable : {{ house.livingSpace }} m2
                            </li>
                            <li>
                                {{ house.roomNumber }} Chambres
                            </li>
                            <li>
                                {{ house.houseModel }}
                            </li>
                            <li>
                                {{ house.houseRoofing }}
                            </li>
                            <li>
                                Prix du projet
                                : {{ (house.sellingPriceAti + plot.sellingPriceAti) | format_currency('EUR') }}
                            </li>

                        </ul>
                        <p class="card-text d-flex justify-content-center">
                            <img src="{{ asset('uploads/pictures/'~ house.houseBrand.logo) }}" alt="" width="150">
                        </p>

                    </div>
                    <a href="{{ path('all_house_show', {'id': house.id}) }}" class="btn btn-secondary">Voir la
                        Maison</a>
                </div>
            </div>
        {% endfor %}
    </div>



    <div class="row d-flex flex-column justify-content-center align-items-center bg-light m-5">
        <h2 class="pt-5">En savoir plus</h2>

        <div class="col-12 col-lg-6 ">
            <!-- FORMULAIRE DE CONTACT HUBSPOT -->
            <!--[if lte IE 8]>
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
            <![endif]-->
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
                hbspt.forms.create({
                    portalId: "5313721",
                    formId: "78d6aeb1-7a7a-47d2-8040-e05e29a68498"
                });
            </script>
        </div>
    </div>



{% endblock %}


