{% extends 'base_all.html.twig' %}

{% block title %}
    Liste des Maisons pour le Terrain
{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4">{{ plot.allotment.name }} Lot n°: {{ plot.lot }}  </h1>

        <h2>Prix: {{ plot.sellingPriceAti | number_format(0, '', ' ') }} €</h2>
        <h2>Surface : {{ plot.surface }} </h2>
        <p class="lead">Découvrez les Maisons Neuves pour de Programme</p>
        <hr class="my-4">
        <p>Vous trouverez ici toutes les maisons compatibles. Sous réserves de validation par nos partenaires
            foncier. </p>
        <p>Outils et Algorithmes en BETA merci de nous signaler les incohérences</p>

    </div>
    <div class="row">
        {% for house in houses %}
            <div class="d-flex align-items-stretch col-12 col-lg-6 col-xl-4">
                <div class="card">


                    {% if house.pictures[0] is defined %}
                        <a href="{{ path('all_house_show', {'id': house.id}) }}"> <img class="card-img-top"
                                                                                       src="{{ asset('uploads/pictures/'~house.pictures[0].name) }}"
                                                                                       alt="{{ house.name }}"></a>
                    {% else %}
                        <a href="{{ path('all_house_show', {'id': house.id}) }}">
                            <img class="card-img-top" src="{{ asset('images/house_base.jpeg') }}"
                                 alt="{{ house.name }}">
                        </a>
                    {% endif %}

                    <div class="card-body">
                        <h3 class="card-title">Prix du projet
                            : {{ (house.sellingPriceAti + plot.sellingPriceAti) | number_format(0, '', ' ') }} € </h3>
                        <h5 class="card-subtitle text-muted">{{ house.name }}</h5>


                        <ul class="list-group list-group-flush">

                            <li class="list-group-item">
                                Surface Habitable : {{ house.livingSpace }} m2
                            </li>
                            <li class="list-group-item">
                                {{ house.roomNumber }} Chambres
                            </li>
                            <li class="list-group-item">
                                {{ house.houseModel }}
                            </li>
                            <li class="list-group-item">
                                {{ house.houseRoofing }}
                            </li>
                            <li class="list-group-item ">
                                <img src="{{ asset('uploads/pictures/'~ house.houseBrand.logo) }}" alt="" width="250"
                                     class="img-fluid">
                            </li>
                            <li class="list-group-item">
                                <a href="{{ path('all_house_show', {'id': house.id}) }}"
                                   class="btn btn-secondary btn-block">Voir la
                                    Maison</a>
                            </li>
                        </ul>


                    </div>

                </div>
            </div>
        {% endfor %}
    </div>



    <div class="row d-flex flex-column justify-content-center align-items-center bg-light m-5">
        <h2 class="pt-5">En savoir plus</h2>

        <div class="col-12 col-lg-6 ">
            <!-- FORMULAIRE DE CONTACT HUBSPOT -->
            <!--[if lte IE 8]>
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
            <![endif]-->
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
                hbspt.forms.create({
                    portalId: "5313721",
                    formId: "78d6aeb1-7a7a-47d2-8040-e05e29a68498"
                });
            </script>
        </div>
    </div>



{% endblock %}


