{% extends 'base_all.html.twig' %}

{% block title %}
   Terrain {{ plot.allotment.name }} - {{ plot.allotment.city }} - Lot n° {{ plot.lot }}
{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="">{{ plot.allotment.name }}</h1>
        <h2>Lot n°: {{ plot.lot }} </h2>
        <h3>Prix: {{ plot.sellingPriceAti | number_format(0, '', ' ') }} €</h3>
        <h3>Surface : {{ plot.surface }} m2 </h3>
        <p class="lead">Découvrez les Maisons Neuves pour ce terrain</p>
        <hr class="my-4">
        <p>Vous trouverez ici toutes les maisons compatibles. Sous réserves de validation par nos partenaires
            fonciers. </p>
        <p>Outils et Algorithmes en BETA merci de nous signaler les incohérences</p>

    </div>

    <div class="row justify-content-center mb-3" id="search-form">
        <div class="col-12 col-lg-3">
            {% if form is defined %}
                {{ form_start(form) }}

                {{ form_widget(form) }}
                <button class="btn btn-block btn-outline-success">{{ button_label|default('Valider') }}</button>
                {{ form_end(form) }}
            {% endif %}
        </div>
    </div>

    <div class="row justify-content-center">
        {% for house in houses %}
            <div class="d-flex align-items-stretch col-12 col-lg-6 col-xl-4 mt-1">
                <div class="card">


                    {% if house.pictures[0] is defined %}
                        <a href="{{ path('all_house_show', {'id': house.id}) }}"> <img class="card-img-top"
                                                                                       src="{{ asset('uploads/pictures/'~house.pictures[0].name) | imagine_filter('my_heighten_filter') }}"
                                                                                       alt="{{ house.name }}"></a>
                    {% else %}
                        <a href="{{ path('all_house_show', {'id': house.id}) }}">
                            <img class="card-img-top" src="{{ asset('images/house_base.jpeg' | imagine_filter('my_heighten_filter')) }}"
                                 alt="{{ house.name }}">
                        </a>
                    {% endif %}

                    <div class="card-body">
                        <h4 class="card-title">Prix du projet
                            : {{ (house.sellingPriceAti + plot.sellingPriceAti) | number_format(0, '', ' ') }} € </h4>
                        <h5 class="card-subtitle text-muted">{{ house.name }}</h5>


                        <ul class="list-group list-group-flush">

                            <li class="list-group-item">
                                Surface Habitable : {{ house.livingSpace }} m2
                            </li>
                            <li class="list-group-item">
                                Surface Annexe : {{ house.annexSurface }} m2
                            </li>
                            <li class="list-group-item">
                                {{ house.roomNumber }} Chambres
                            </li>
                            <li class="list-group-item">
                                {{ house.houseModel }}
                            </li>

                            <li class="list-group-item">
                               Maison Seule : {{ house.sellingPriceAti }}
                            </li>
                            <li class="list-group-item ">
                                <img src="{{ asset('uploads/pictures/'~ house.houseBrand.logo) }}" alt="" width="250"
                                     class="img-fluid">
                            </li>

                        </ul>


                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="{{ path('all_house_show', {'id': house.id}) }}"
                           class="btn btn-secondary btn-block ">Voir la
                            Maison</a>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>





    <div class="row d-flex flex-column justify-content-center align-items-center bg-light m-1">
        <h2 class="d-flex pt-5 col-12 col-lg-6 justify-content-center">En savoir plus</h2>

        <div class="col-12 col-lg-6 ">
            <!-- FORMULAIRE DE CONTACT HUBSPOT -->
            <!--[if lte IE 8]>
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
            <![endif]-->
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
                hbspt.forms.create({
                    portalId: "5313721",
                    formId: "78d6aeb1-7a7a-47d2-8040-e05e29a68498"
                });
            </script>
        </div>
    </div>



{% endblock %}


