{% extends 'base_all.html.twig' %}


{% block title %}
    Projets Maisons {{ plot.allotment.city }} - {{ plot.allotment.name }} - Terrain n° {{ plot.lot }}
{% endblock %}

{% block description %}
    <!-- Meta Description -->
    <meta name="description" content="Retrouvez tous les projets de maisons individuelles à
{{ plot.allotment.city }} dans le lotissement {{ plot.allotment.name }} sur le terrain n° {{ plot.lot }}">

    <meta name="title" content="Projets Maisons {{ plot.allotment.city }} - {{ plot.allotment.name }} - Terrain n° {{ plot.lot }}">

    <!-- OG  -->
    <meta property="og:title" content="Projets Maisons {{ plot.allotment.city }} - {{ plot.allotment.name }} - Terrain n° {{ plot.lot }}">
    <meta property="og:description" content="Retrouvez tous les projets de maisons individuelles à
{{ plot.allotment.city }} dans le lotissement {{ plot.allotment.name }} sur le terrain n° {{ plot.lot }}">
    <meta property="og:image" content="{{ asset('images/logo_terrains_maisons_v2.png' | imagine_filter('my_thumb')) }}">
    <meta property="og:image:url" content="{{ asset('images/logo_terrains_maisons_v2.png' | imagine_filter('my_thumb')) }}">

{% endblock %}



{% block body %}
<div class="row justify-content-center">
    <div class="col-lg-6 col-12">

    <div class="p-xl-5">
        <h1 class="display-5 text-center"> Projets Maisons {{ plot.allotment.city }} </h1>
        <h2 class="display-6 text-center">Lotissement {{ plot.allotment.name }}</h2>
        <h3 class="display-6 text-center">Terrain n° {{ plot.lot }}</h3>
        <hr class="my-4">
        <p class="lead">Caractéristiques du Terrain </p>
        <h4>Prix Terrain: {{ plot.sellingPriceAti | number_format(0, '', ' ') }} €</h4>
        <h4>Surface : {{ plot.surface }} m2 </h4>
        <p class="lead">Découvrez les Maisons Neuves pour ce terrain</p>
        <hr class="my-4">
        <p>Vous trouverez ici tous les projets de construction de maisons compatibles sur ce terrain   </p>

    </div>
    </div>
        <div class="col-lg-6 col-12 d-flex align-items-start justify-content-center">
            <img class="img-fluid" src="/images/house_cloud.jpg" alt="Terrains Maisons .com" style="max-height: 33vh">
        </div>

</div>


    <div class="flex-row justify-content-center align-items-center" style="margin-top: 25px">
        <div class="col d-flex justify-content-center" id="search-allotment">
            <h4 class="text-center"> Rechercher une Maison pour ce Terrain</h4>
        </div>
    </div>

    <div class="row flex-column pt-3 pb-3 justify-content-center align-items-center" id="search-form">

                <div class="col-12 col-lg-6 p-2">
                    {{ form_errors(form) }}
                    {{ form_start(form) }}
                {{ form_widget(form.roomNumber, {'attr': {'class': 'form-select'}}) }}
                </div>
        <div class="col-12 col-lg-6 p-2">

            {{ form_widget(form.houseBrand) }}
        </div>
        <div class="col-12 col-lg-6 p-2">

            {{ form_row(form.matchSellingPriceAti) }}
        </div>
                 {{ form_row(form._token) }}
        <div class="col-12 col-lg-6 d-grid p-2">
               <button class="btn  btn-success">{{ button_label|default('Valider') }}</button>
                {{ form_end(form, {'render_rest': false}) }}
        </div>

    </div>

    <div class="d-flex flex-column justify-content-center align-items-center p-2">
        <div class="col">
        <h2>Maisons Neuves Compatibles</h2>
        </div>
        <div class="col">
            <!-- BREADCRUMPS  START-->
            {% import 'macros/breadcrumps.html.twig' as breadcrumbs %}
            {{ breadcrumbs.render([
                {'url': url('home'), 'text': 'TerrainsMaisons.com'},
                {'url': url('home_allotment_slug', {'slug': plot.allotment.slug}), 'text': "#{plot.allotment.city} #{plot.allotment.name}"},
                {'text': "Terrain à bâtir n°#{plot.lot}"},
            ]) }}
            <!-- BREADCRUMPS  END-->
        </div>

    </div>

    <div class="row justify-content-center" id="house-list">
        {% if houses %}
        {% for house in houses %}
            <div class="d-flex align-items-stretch col-12 col-lg-6 col-xl-4 mt-1">
                <div class="card">


                    {% if house.house.pictures[0] is defined %}
                        <a href="{{ path('all_ad_show_by_slug', {'slug': house.slug}) }}"> <img class="card-img-top"
                                                                                    src="{{ asset('/uploads/pictures/'~house.house.pictures[0].name) | imagine_filter('heighten_filter') }}"
                                                                                    alt="{{ house.house.name }}"></a>
                    {% else %}
                        <a href="{{ path('all_ad_show_by_slug', {'slug': house.slug}) }}">
                            <img class="card-img-top"
                                 src="{{ asset('/images/house_base.jpeg' | imagine_filter('heighten_filter')) }}"
                                 alt="{{ house.house.name }}">
                        </a>
                    {% endif %}

                    <div class="card-body">
                        <h4 class="card-title">Prix du projet
                            : {{ (house.house.sellingPriceAti + plot.sellingPriceAti) | number_format(0, '', ' ') }}
                            € </h4>
                        <h5 class="card-subtitle text-muted">{{ house.house.name }}</h5>


                        <ul class="list-group list-group-flush">

                            <li class="list-group-item">
                                Surface Habitable : {{ house.house.livingSpace }} m2
                            </li>
                            <li class="list-group-item">
                                Surface Annexe : {{ house.house.annexSurface }} m2
                            </li>
                            <li class="list-group-item">
                                {{ house.house.roomNumber }} Chambres
                            </li>
                            <li class="list-group-item">
                                {{ house.house.houseModel }}
                            </li>

                            <li class="list-group-item">
                                {% if house.house.annexSurface > 0 %}
                                Garage : Oui
                                {% else %}
                                Garage : Non
                                {% endif %}
                            </li>
                            <li class="list-group-item ">
                                <img src="{{ ('/uploads/pictures/'~ house.house.houseBrand.logo) }}" alt="Logo Constructeur {{ house.house.houseBrand.name }}"
                                     width="250"
                                     class="img-fluid">
                            </li>

                        </ul>


                    </div>
                    <div class="card-body d-flex align-items-end">
                        <a href="{{ path('all_ad_show_by_slug', {'slug': house.slug}) }}"
                           class="btn btn-secondary  ">Voir le Projet de Construction</a>
                    </div>

                </div>
            </div>
        {% endfor %}
        {% else %}
        <div class="row align-content-center" style="margin-top: 3em; margin-bottom: 3em">
            <h6 class="text-center display-6"> AUCUN RESULTAT POUR VOTRE RECHERCHE</h6>
        </div>
        {% endif %}
    </div>





    <div class="row d-flex flex-column justify-content-center align-items-center bg-light m-1">

    </div>



{% endblock %}


