{% extends 'base_all.html.twig' %}

{% block title %}
Liste des Maisons pour le Terrain
{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4">Lot n°: {{ plot.lot }} - Surface : {{ plot.surface}} Prix : {{plot.sellingPriceAti | format_currency('EUR')}}</h1>
        <p class="lead">Description du Terrain</p>
        <hr class="my-4">
        <p>Vous trouverez ici toutes les maisons compatibles. Sous réserves de validation par nos partenaires foncier. </p>
        <p>Outil et Algorithmes en BETA merci de nous sginaler les incohérence</p>

    </div>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Visuel</th>
            <th scope="col">Modèle</th>
            <th scope="col">Surface Habitable</th>
            <th scope="col">Nombre de Chambre</th>
            <th scope="col">Prix avec le terrain</th>
            <th></th>

        </tr>
        </thead>
        <tbody>
        {% for house in houses %}
        <tr>
            <td>
                {% if house.pictures[0] is defined %}
                    <img src="{{ asset('uploads/pictures/'~house.pictures[0].name) }}" class="w-25 " alt="...">
                {% endif %}
            </td>
            <td>{{ house.name }}</td>
            <td>{{ house.livingSpace }}</td>
            <td>{{ house.roomNumber }}</td>
            <td>{{ (house.sellingPriceAti + plot.sellingPriceAti) | format_currency('EUR') }}</td>
            <td><a href="{{ path('all_house_show', {'id': house.id}) }}" class="btn btn-outline-info">Voir la Maison</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


    <span class="border-1">
<h2>CONTACTEZ NOUS</h2>
    <!-- FORMULAIRE DE CONTACT HUBSPOT -->
    <!--[if lte IE 8]>
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
    <![endif]-->
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
    <script>
        hbspt.forms.create({
            portalId: "5313721",
            formId: "78d6aeb1-7a7a-47d2-8040-e05e29a68498"
        });
    </script>
</span>


{% endblock %}


