{{ form_start(form) }}
    {{ form_row(form.name) }}
{{ form_row(form.postalCode) }}
{{ form_row(form.city) }}


<ul class="">
    {% for plot in form.plots %}
<li class="existPlot">
    {{ form_row(plot.lot)}}
    {{ form_row(plot.surface) }}
    {{ form_row(plot.facadeWidth) }}
    {{ form_row(plot.sellingPriceAti) }}
</li>
    {% endfor %}
</ul>
<div class="row">
    <div class="col-sm-6">
        <div class="">
    <ul class="plots" data-prototype="{{ form_widget(form.plots.vars.prototype)|e('html_attr') }}"></ul>
    <button type="button" class="add_item_link btn btn-secondary btn-block" data-collection-holder-class="plots">Ajouter un Lot</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
    <button class="btn btn-success btn-block ">{{ button_label|default('Save') }}</button>

    </div>

</div>
{{ form_end(form) }}


<script src="{{ asset('js/allotmentLotForm.js') }}"></script>