

{{ form_start(form) }}

<div class="d-flex d-row">

    <button class="btn btn-success">{{ button_label|default('Save') }}</button>

</div>
<div class="row m-5">
    <div class="col-6">

{{ form_row(form.name) }}
{{ form_row(form.postalCode) }}
{{ form_row(form.city) }}
{{ form_row(form.latitude) }}
{{ form_row(form.longitude) }}
{{ form_row(form.state) }}
{{ form_row(form.sanitation) }}
{{ form_row(form.description) }}
{{ form_row(form.notaryFees) }}
{{ form_row(form.propertyLimit) }}
{{ form_row(form.doubleLimit) }}
    </div>
    <div class="col-6">
{{ form_row(form.isValid) }}
{{ form_row(form.houseRoofings, {'attr': {'class': 'select2-multiple'}}) }}
{{ form_row(form.allotmentPlanFile, {'attr': {'placeholder': 'Uploader le Plan du Programme' }}) }}
{{ form_row(form.localUrbanPlanFile, {'attr': {'placeholder': 'Uploder plan local d\'urbanisme'}}) }}
{{ form_row(form.regulationFile, {'attr': {'placeholder': 'Uploder le reglement d\'urbanisme'}}) }}
{{ form_row(form.contacts, {'attr': {'class': 'select2-multiple'}}) }}
{{ form_row(form.tags, {'attr': {'class': 'select2-multiple'}}) }}
    </div>
</div>


<ul class="list-group">
    {% for plot in form.plots %}
<li class="existPlot">
    {{ form_row(plot.lot)}}
    {{ form_row(plot.surface) }}
    {{ form_row(plot.facadeWidth) }}
    {{ form_row(plot.sellingPriceAti) }}
    {{ form_row(plot.state)}}
    {{ form_row(plot.salesPlan,{'attr': {'placeholder': 'Uploder plan de vente'}}) }}
</li>
    {% endfor %}
</ul>
<div class="d-flex flex-column">

        <div class="">

    <ul class="plots" data-prototype="{{ form_widget(form.plots.vars.prototype)|e('html_attr') }}"></ul>
    <button type="button" class="add_item_link btn btn-secondary btn-block" data-collection-holder-class="plots">Ajouter un Lot</button>

    </div>
</div>
<div class="d-flex d-row">

    <button class="btn btn-success btn-block ">{{ button_label|default('Save') }}</button>

</div>
{{ form_end(form) }}

<!-- Ajout Select 2 pour les Lotissements-->
<script>
$(document).ready(function() {
$('.select2-multiple').select2();
});
</script>

<script>
    $('.custom-file-input').on('change', function(event) {
        let inputFile = event.currentTarget;
        $(inputFile).parent()
            .find('.custom-file-label')
            .html(inputFile.files[0].name);
    });
</script>

<script src="{{ asset('js/allotmentLotForm.js') }}"></script>