{% extends 'base.html.twig' %}

{% block title %}Allotment{% endblock %}

{% block body %}
    <div class="container">
    <h1>Lotissement</h1>

    <table class="table table-sm table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ allotment.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ allotment.name }}</td>
            </tr>
            <tr>
                <th>PostalCode</th>
                <td>{{ allotment.postalCode }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ allotment.city }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ allotment.createdAt ? allotment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ allotment.updatedAt ? allotment.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>

            {% for plot in allotment.plots %}
            <tr>
                <th>Lots n° {{ plot.lot }}</th>
                <td>Surface {{ plot.surface }} m2</td>
                <td>{{ plot.sellingPriceAti }} €</td>
                <td><a href="{{ path('land_plot_show', {'id': plot.id}) }} ">Voir le lot</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('land_allotment_index') }}">back to list</a>

    <a href="{{ path('land_allotment_edit', {'id': allotment.id}) }}">edit</a>

    {{ include('land/allotment/_delete_form.html.twig') }}
    </div>
{% endblock %}
