{% extends 'base.html.twig' %}

{% block title %}PlotHouseMatching index{% endblock %}

{% block body %}
    <h1>PlotHouseMatching index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>SellingPriceAti</th>
                <th>Valid</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plot_house_matching in plot_house_matchings %}
            <tr>
                <td>{{ plot_house_matching.id }}</td>
                <td>{{ plot_house_matching.name }}</td>
                <td>{{ plot_house_matching.sellingPriceAti }}</td>
                <td>{{ plot_house_matching.valid ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('matching_plot_house_matching_show', {'id': plot_house_matching.id}) }}">show</a>
                    <a href="{{ path('matching_plot_house_matching_edit', {'id': plot_house_matching.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('matching_plot_house_matching_new') }}">Create new</a>
{% endblock %}
