{{ form_start(form) }}

<div class="row">

    <div class="col-sm-6">
        {{ form_row(form.name) }}
        {{ form_row(form.houseBrand) }}
        {{ form_row(form.houseModel) }}
        {{ form_row(form.houseRoofing) }}
        {{ form_row(form.livingSpace) }}
        {{ form_row(form.annexSurface) }}
        {{ form_row(form.roomNumber) }}
        {{ form_row(form.bathroomNumber) }}
        {{ form_row(form.sellingPriceDf) }}


    </div>

    <div class="col-sm-6">
        {{ form_row(form.length) }}
        {{ form_row(form.width) }}
        {{ form_row(form.height) }}
        {{ form_row(form.valid) }}
        <div class="row">
            <div class="col-8">
                {{ form_row(form.planFilename) }}
            </div>
            <div class="col-4">
                {{ form_row(form.deleteFile) }}
            </div>
        </div>
        {{ form_row(form.uploadPlan, {'attr': {'placeholder': 'Fichier' }}) }}
    </div>


</div>

<div class="row">
    <button class="btn btn-success btn-small btn-block">{{ button_label|default('Valider') }}</button>
</div>





{{ form_end(form) }}
