{% extends 'base.html.twig' %}

{% block title %}House index
{% endblock %}

{% block body %}
	<h1>House index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Type</th>
				<th>LivingSpace</th>
				<th>AnnexSurface</th>
				<th>RoomNumber</th>
				<th>BathroomNumber</th>
				<th>Prix de Vente TTC</th>
				<th>Brand</th>
				<th>Roofing</th>
				<th>Length</th>
				<th>Width</th>
				<th>Height</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for house in houses %}
				<tr>
					<td>{{ house.id }}</td>
					<td>{{ house.name }}</td>
					<td>{{ house.type }}</td>
					<td>{{ house.livingSpace }}</td>
					<td>{{ house.annexSurface }}</td>
					<td>{{ house.roomNumber }}</td>
					<td>{{ house.bathroomNumber }}</td>
					<td>{{ house.sellingPriceAti | format_currency('EUR')}}</td>
					<td>{{ house.brand }}</td>
					<td>{{ house.roofing }}</td>
					<td>{{ house.length }}</td>
					<td>{{ house.width }}</td>
					<td>{{ house.height }}</td>
					<td>
						<a href="{{ path('house_show', {'id': house.id}) }}">show</a>
						<a href="{{ path('house_edit', {'id': house.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="16">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('house_new') }}">Create new</a>
{% endblock %}
