{% extends 'base.html.twig' %}

{% block title %}House index
{% endblock %}



{% block body %}

	<style>
		div.searchCol {
			margin-top: 20px;
		}
		div.searchForm {
			margin-top: 20px;
				}
		div.listHouse{
			margin-top: 20px;
		}
	</style>

	<div class="container-fluid">
		<div class="row">
			<div class="searchCol col-sm-2">

					<div class="">
					<a href="{{ path('house_index')}}" class="myButton">
						<button class="btn btn-secondary btn-sm btn-block ">
							Toute les Maisons</button>
					</a>
					
				</div>

				<div class="searchForm">
					<div class="form-group">
					<label for="inputHouseModelSearch">Chercher le modèle (js) </label>
					<input type="text" id="inputHouseModelSearch" class="form-control" onkeyup="houseModelSearch()" placeholder="Chercher le modèle">
					</div>
				{% if form is defined %}

					{{ form_start(form) }}
					{{ form_widget(form) }}
					
					<button class="btn btn-success btn-sm btn-block">{{ button_label|default('Valider') }}</button>
					{{ form_end(form) }}

				{% endif %}
				</div>
			</div>

			<div class="listHouse col-sm-10">
				<table id="houseTable" class="table table-hover table-sm table-bordered">
					<thead>
						<tr>

							<th>Modèle</th>
							<th>Type</th>
							<th>Style</th>
							<th>Marque</th>
							<th>Surface Habitable</th>
							<th>Surface Annexe</th>
							<th>Chambres</th>
							<th>Prix de Vente TTC</th>
							<th>Prix Pondéré (m2)</th>
							<th>Toiture</th>
							<th>Longeur</th>
							<th>Valide</th>



						</tr>
					</thead>
					<tbody>
						{% for house in houses %}
							<tr>

								<td>
									<a href="{{path('house_show', {'id': house.id}) }}">
										{{ house.name }}

								</td>

								<td>{{ house.houseModel.name }}</td>
								<td>{{ house.houseStyle }}</td>
								<td>{{ house.houseBrand.name }}</td>
								<td>{{ house.livingSpace }}</td>
								<td>{{ house.annexSurface }}</td>
								<td>{{ house.roomNumber }}</td>

								<td>{{ house.sellingPriceAti | format_currency('EUR') }}</td>
								<td>{{ house.weightedArea | format_currency('EUR')  }}</td>
								<td>{{ house.houseRoofing.name }}</td>
								<td>{{ house.length }}</td>
								{% if house.valid == true %}
								<td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
										<path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
									</svg></td>
									{% else %}
									<td></td>
								{% endif %}


							</tr>
						{% else %}
							<tr>
								<td colspan="16">no records found</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>


<!--RECHERCHE MODELE DE MAISON -->
	<script>
		console.log('script charge')
		function houseModelSearch() {
			// Declare variables
			let input, filter, table, tr, td, i, txtValue;
			input = document.getElementById("inputHouseModelSearch");
			filter = input.value.toUpperCase();
			table = document.getElementById("houseTable");
			tr = table.getElementsByTagName("tr");

			// Loop through all table rows, and hide those who don't match the search query
			for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td")[0];
				if (td) {
					txtValue = td.textContent || td.innerText;
					if (txtValue.toUpperCase().indexOf(filter) > -1) {
						tr[i].style.display = "";
					} else {
						tr[i].style.display = "none";
					}
				}
			}
		}
	</script>

{% endblock %}
