{% extends 'base.html.twig' %}

{% block title %}House
{% endblock %}

{% block body %}
	<div class="container">
	<h1>{{ house.name }}</h1>

	<div class="d-flex flex-row">
		<a href="{{ path('house_index') }}" class="btn btn-outline-info">Retour</a>

		<a href="{{ path('house_edit', {'id': house.id}) }}" class="btn btn-outline-warning">Editer</a>

		{{ include('house/_delete_form.html.twig') }}


	</div>

	<table class="table table-sm table-hover">
		<tbody>


			<tr>
				<th>Type Model</th>
				<td>{{ house.houseModel.name }}</td>
			</tr>
			<tr>
				<th>Marque</th>
				<td>{{ house.houseBrand.name }}</td>
			</tr>
			<tr>
				<th>Toiture</th>
				<td>{{ house.houseRoofing.name }}</td>
			</tr>
			<tr>
				<th>Surface Habitable</th>
				<td>{{ house.livingSpace }}</td>
			</tr>
			<tr>
				<th>Surface Annexe</th>
				<td>{{ house.annexSurface }}</td>
			</tr>
			<tr>
				<th>Chambres</th>
				<td>{{ house.roomNumber }}</td>
			</tr>
			<tr>
				<th>Salle de bains</th>
				<td>{{ house.bathroomNumber }}</td>
			</tr>
			<tr>
				<th>Prix de Vente HT</th>
				<td>{{ house.sellingPriceDf }}</td>
			</tr>
			<tr>
				<th>Prix de Vente TTC</th>
				<td>{{ house.sellingPriceAti }}</td>
			</tr>
			<tr>
				<th>Longeur</th>
				<td>{{ house.length }}</td>
			</tr>
			<tr>
				<th>Largeur</th>
				<td>{{ house.width }}</td>
			</tr>
			<tr>
				<th>Hauteur</th>
				<td>{{ house.height }}</td>
			</tr>
			<tr>
				<th>Création</th>
				<td>{{ house.createdAt ? house.createdAt|date('d-m-Y') : '' }}</td>
			</tr>
			<tr>
				<th>Mise à jour</th>
				<td>{{ house.updatedAt ? house.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Model Validé </th>
				<td>{{ house.valid }}</td>
			</tr>
			<tr>
				<th>Images</th>
				<td class="col-auto">
					{% if house.pictures %}
					{% for picture in house.pictures %}

					<img src="{{ asset('uploads/pictures/'~picture.name) }}" alt="" width="450">
					{% endfor %}
					{% endif %}
				</td>
			</tr>
		<tr>
			<th>Plans</th>

			<td>
				{% if house.planFilename %}
				<a href="{{ asset('uploads/plans/' ~ house.planFilename) }}">Plans PDF</a>
				{% else %}
				AUCUN PLAN DISPONIBLE
				{% endif %}
			</td>
		</tr>
		</tbody>
	</table>
</div>
{% endblock %}
