<!DOCTYPE html>
<html lang="fr">
<html prefix="og: https://ogp.me/ns#">
<head>

    <!-- Analytics TAGS -->
    {% if app.environment != 'dev' %}


        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-WVFCMBP');</script>
        <!-- End Google Tag Manager -->


        <!-- Microsoft Clarity Tag -->
        <script type="text/javascript">
            (function (c, l, a, r, i, t, y) {
                c[a] = c[a] || function () {
                    (c[a].q = c[a].q || []).push(arguments)
                };
                t = l.createElement(r);
                t.async = 1;
                t.src = "https://www.clarity.ms/tag/" + i;
                y = l.getElementsByTagName(r)[0];
                y.parentNode.insertBefore(t, y);
            })(window, document, "clarity", "script", "4zjwsq6afz");
        </script>



    {% endif %}
        <!-- END Analytics TAGS -->


    <!-- STYLE SCRIPT -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>

    <!-- END STYLE SCRIPT -->

    {% block schema %}
    {% endblock %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--  OPEN GRAPH -->

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://terrainsmaisons.com"/>
    <meta property="og:locale" content="fr_FR">




    {% block description %}
        <!-- Meta Description -->
        <meta property="og:title" content="Terrains Maisons.com est la référence pour trouver un terrain à bâtir en lotissment et un constructeur de maisons en Champagne-Ardenne">
        <meta property="og:description" content="La plateforme pour Construire votre maison en Champagne-Ardenne.
         Sélectionnez un Lotissement , un Terrain à bâtir et parcourez les maisons proposées par nos constructeurs."/>
        <meta property="og:image" content="https://terrainsmaisons.com/images/logo_terrains_maisons_v2.png">
        <meta property="og:image:url" content="https://terrainsmaisons.com/images/logo_terrains_maisons_v2.png">
    {% endblock %}

    <title>
        {% block title %}Terrains Maisons.com
        {% endblock %}
    </title>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


    {% block stylesheets %}
    {% endblock %}

</head>
<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WVFCMBP"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Defini la route pour les classes bootsrap actives-->
{% set route_name = app.request.attributes.get('_route') %}


<!-- NAVBAR -->

<nav class="navbar navbar-expand-lg navbar-light bg-white seldon-nav-main  p-1 shadow-sm fixed-top" style="height: 10vh; ">
    <div class="container-fluid  justify-content-center align-items-center p-0 ">

        <a class="navbar-brand" href="{{ path('home') }}" style="margin-right: 30px; margin-left: 5px; font-weight: bolder ">Terrains
            Maisons.com </a>

        <div class="d-flex justify-content-end">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        </div>
        <div class="collapse bg-white navbar-collapse align-items-center m-0 mt-1" id="navbarNav" >
            <ul class="navbar-nav align-items-center">
                <li class="nav-item">
                    <a {% if route_name == "home" %} class="nav-link active" {% else %} class="nav-link" {% endif %}
                            href="{{ path('home') }}">Terrains </a>
                </li>
                <li class="nav-item">
                    <a {% if route_name == "all_houses_list" %} class="nav-link active" {% else %} class="nav-link" {% endif %}
                            href="{{ path('all_houses_list') }}">Maisons</a>
                </li>

                <li class="nav-item">
                    <a {% if route_name == "home_user_manual" %} class="nav-link active" {% else %} class="nav-link" {% endif %}
                            href="{{ path('home_user_manual') }}">Guide Utilisateur</a>
                </li>
                <li class="nav-item">
                    <a {% if route_name == "home_selling_plot" %} class="nav-link active" {% else %} class="nav-link" {% endif %}
                            href="{{ path('home_selling_plot') }}">Terrain à vendre ?</a>
                </li>
                <li class="nav-item">
                    <a {% if route_name == "contact" %} class="nav-link active" {% else %} class="nav-link" {% endif %}
                            href="{{ path('contact') }}">Contact</a>
                </li>
                {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('house_index') }}">Admin</a>
                    {% endif %}

            </ul>
        </div>
    </div>
</nav>

<!-- END NAVBAR -->

<div class="container-fluid" style="margin-top: 14vh"> {% block body %}{% endblock %}

    <footer class="text-muted pt-4 pb-4  " style="background-color: #E9ECEF">
        <div class="container d-flex flex-column align-items-center justify-content-center">
            <p>
                <a href="{{ path('home') }}">Site Terrains Maisons . com</a> | <a href="{{ path('home_user_manual') }}">Guide
                    Utilisateur</a> | <a href="{{ path('home_selling_plot') }}">Vendre mon Terrain</a> | <a
                        href="mailto:contact@terrainsmaisons.com">Nous Contacter</a> | <a
                        href="{{ path('legal_notice') }}">Mentions Légales</a>
            </p>

            <p class="conditions">
                Nos équipes travaillent en collaboration avec des aménageurs et partenaires fonciers privilégiés (agences
                immobilières, notaires, géomètres), afin de vous proposer chaque jour les plus beaux terrains
                constructibles sur le secteur.
                Nous ne sommes pas mandatés pour la vente du terrain seul.
                Les illustrations sont non contractuelles. Voir les conditions avec l'agence du constructeur ou du
                lotisseur.
            </p>
            <p class="conditions">
                Pour voir le détail des maisons proposées , consulter l'agence ou le site internet du Constructeur
            </p>
            <p>
                © 2020 TerrainsMaisons.com | v2.1
            </p>
        </div>
    </footer>

</div>


{% block javascripts %}

{% endblock %}



<!-- Start cookieyes banner -->
{% if app.environment != 'dev' %}
    <script id="cookieyes" type="text/javascript"
            src="https://cdn-cookieyes.com/client_data/897ca9823a3e35de5c2fc77a.js"></script>
{% endif %}
<!-- End cookieyes banner -->

</body>

<style>
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    html {
        font-family: Helvetica, serif;
    }

    .navbar {
        height: 6vh;
    }


    .conditions {
        font-size: x-small;
    }

    .seldon-nav-main a {
        font-family: Helvetica, serif;
        font-size: larger;
    }
</style>